<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="reportsSection">
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">

                                <h5 class="card-title">Reports</h5>
                            </div>
                            <div class="col-6">
                                <div class="addButton float-end">
                                    <button class="add">Add Reports</button>
                                </div>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Document</th>
                                    <th>Referred By</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody id="reportsTableBody">
                                <!-- Data will be inserted dynamically -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>